*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(211, 202, 202, 0.085);

}
.header{
    display: flex;
    justify-content: space-between;
    background-color: orangered;
    padding: 20px;
    color: #fff;
}
.header ul{
    display: flex;
}

.header ul li{
    margin-top: 10px;
    list-style: none;
    margin-right: 10px;
}

.header ul li a{
    font-size: 28px;

    text-decoration: none;
    color: #fff;
    padding: 20px;
}

.header ul li a:hover{
    color: #000;
}
h2{
    text-align: center;
    margin-top: 30px;
    color: #333;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-left: 30%;
}

.search-btn input[type="text"]{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid orangered;
}

.search-btn button{
   padding: 8px;
   border-radius: 6px;
   border: none;
   background-color: #fff;
   color: orangered;
   font-weight: bold;
   cursor: pointer;
   position: relative;
   right: 45px;
}

.recipebox{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 20px;
    padding-left: 90px;
    margin-top: 90px;
    margin-bottom: 50px;
}
.recipe{
    width: 300px;
    height: 400px;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 20px;
}
.recipe img{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.recipe button{
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    background-color: orangered;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    
}

.footer{
    /* background-color: orangered; */
    color: #000;
    padding: 20px;
    text-align: center;
    position: sticky;
    width: 100%;
}